

h1 {
    color: blanchedalmond;
    font-family: fantasy;
    font-size: 45px;

}
h2 { 
    color: blanchedalmond;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

p {
    color: blanchedalmond;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}



body {
    background-image: url("background2.jpg");
    background-size: 100%;
}


h3 class {
    color:blanchedalmond;
}

#blue {
    color:white;
    background-color:blue;
    border-color: blue;

}
#green {
    color:white;
    background-color:green;
    border-color: green;
}


#turquoise {
    color:white;
    background-color:turquoise;
    border-color:turquoise;
}
#yellow{
    color:black;
    background-color:yellow;
    border-color:yellow;
}

    

